[Unit]
After=tigervnc.service
Description=Start up Caucasus 90s

[Service]
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs caucasus_90s miz/Scenarios/90s/caucasus Caucasus.miz true false

[Install]
WantedBy=multi-user.target
