[Unit]
Description=Start up Caucasus 80s

[Service]
After=tigervnc.service
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs caucasus_80s miz/Scenarios/80s/caucasus Caucasus.miz

[Install]
WantedBy=multi-user.target
