[Unit]
After=tigervnc.service
Description=Start up CBT

[Service]
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs cbt miz/Scenarios/cbt Caucasus.miz true true

[Install]
WantedBy=multi-user.target
