[Unit]
Description=Start up PG 80s

[Service]
After=tigervnc.service
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs pg_80s miz/Scenarios/80s/PG PG.miz true

[Install]
WantedBy=multi-user.target
