[Unit]
After=tigervnc.service
Description=Start up Sinai 80s

[Service]
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs sinai_80s miz/Scenarios/80s/sinai Sinai80s.miz true

[Install]
WantedBy=multi-user.target
