[Unit]
After=tigervnc.service
Description=Start up Syria 80s

[Service]
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs syria_80s miz/Scenarios/80s/Syria Syria80s.miz true

[Install]
WantedBy=multi-user.target
