[Unit]
After=tigervnc.service
Description=Start up tempest

[Service]
Type=simple
User=dcs
Environment="DISPLAY=:1"
ExecStart=/home/dcs/bin/dcs tempest miz/Scenarios/tempest/PG PG.miz true false

[Install]
WantedBy=multi-user.target
